# Default ignored files
/shelf/
/workspace.xml

# The following was added by me on 29/09/21
.factorypath
### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries


# IntelliJ
/out/
.idea/
*.iml
*.iws
*.ipr

### Maven template
target/
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
